// -----------------------------
// <variables.scss>


// ---------------------------------
// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@include font-face('FontAwesome', 'font-awesome', 'font-awesome', 'normal', 'normal');
@include font-face('linea', 'linea', 'linea', 'normal', 'normal');
@include font-face('Ionicons', 'ionicons', 'ionicons', 'normal', 'normal');

// ---------------------------------
// Colors

$vert-clair:#9FF98A;
$vert:#73bd62;
$vert-fonce:darken($vert, 10%);

$blanc: white;
$blanc-fonce:#f8f8f8;

$gris-clair:#A9A9A9;
$gris:#90948F;
$gris-fonce: #312e2f;
