/* ----------------------------- */
/* <config/utils> */


.clear:before,
.clear:after {content:' ';display:table;}
.clear:after {clear:both;}
.clear {*zoom:1;}
img {max-width:100%;vertical-align:bottom;height:auto;}
a {color:inherit;text-decoration:none;}
html.no-touchevents a:focus {outline:0;}
a:hover,
a:active {outline:0;}
input:focus {
  outline:0;
  box-shadow: none !important
}
ol, ul {}
select {width:100%;}
.right {float:right;}
.left {float:left;}

#wpadminbar {
  z-index: 9996 !important
}

img {
  max-width: 100%;
  height: auto;
  transition: all 300ms ease;
}

.form-control {
  box-shadow: none;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }
}

.display-block {
  display: block;
}

.lowercase {
  text-transform: lowercase;
}

.no-js_visible {
  display: none;
  visibility: hidden;
  .no-js & {
    display: inherit;
    visibility: inherit;
  }
}
